<a href="https://colab.research.google.com/github/Jaseem1911/DataPreprocessing/blob/main/CaRs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/cars.csv',sep=';')
data

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [ ]:
data.shape

(407, 9)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car           407 non-null    object
 1   MPG           407 non-null    object
 2   Cylinders     407 non-null    object
 3   Displacement  407 non-null    object
 4   Horsepower    407 non-null    object
 5   Weight        407 non-null    object
 6   Acceleration  407 non-null    object
 7   Model         407 non-null    object
 8   Origin        407 non-null    object
dtypes: object(9)
memory usage: 28.7+ KB

In [ ]:
data.isna().sum()

Car             0
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
Origin          0
dtype: int64

In [ ]:
data.dtypes

Car             object
MPG             object
Cylinders       object
Displacement    object
Horsepower      object
Weight          object
Acceleration    object
Model           object
Origin          object
dtype: object

In [ ]:
data.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
6,Ford Galaxie 500,15.0,8,429.0,198.0,4341.,10.0,70,US
7,Chevrolet Impala,14.0,8,454.0,220.0,4354.,9.0,70,US
8,Plymouth Fury iii,14.0,8,440.0,215.0,4312.,8.5,70,US
9,Pontiac Catalina,14.0,8,455.0,225.0,4425.,10.0,70,US

In [ ]:
data.drop(index=0)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
1,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504.,12.0,70,US
2,Buick Skylark 320,15.0,8,350.0,165.0,3693.,11.5,70,US
3,Plymouth Satellite,18.0,8,318.0,150.0,3436.,11.0,70,US
4,AMC Rebel SST,16.0,8,304.0,150.0,3433.,12.0,70,US
5,Ford Torino,17.0,8,302.0,140.0,3449.,10.5,70,US
...,...,...,...,...,...,...,...,...,...
402,Ford Mustang GL,27.0,4,140.0,86.00,2790.,15.6,82,US
403,Volkswagen Pickup,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,Dodge Rampage,32.0,4,135.0,84.00,2295.,11.6,82,US
405,Ford Ranger,28.0,4,120.0,79.00,2625.,18.6,82,US
406,Chevy S-10,31.0,4,119.0,82.00,2720.,19.4,82,US

In [ ]:
data.drop('Car',axis=1,inplace=True)
data

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
1,18.0,8,307.0,130.0,3504.,12.0,70,US
2,15.0,8,350.0,165.0,3693.,11.5,70,US
3,18.0,8,318.0,150.0,3436.,11.0,70,US
4,16.0,8,304.0,150.0,3433.,12.0,70,US
...,...,...,...,...,...,...,...,...
402,27.0,4,140.0,86.00,2790.,15.6,82,US
403,44.0,4,97.00,52.00,2130.,24.6,82,Europe
404,32.0,4,135.0,84.00,2295.,11.6,82,US
405,28.0,4,120.0,79.00,2625.,18.6,82,US
406,31.0,4,119.0,82.00,2720.,19.4,82,US

In [ ]:
data.drop('Origin',axis=1,inplace=True)
data

        MPG Cylinders Displacement Horsepower  Weight Acceleration Model
0    DOUBLE       INT       DOUBLE     DOUBLE  DOUBLE       DOUBLE   INT
1      18.0         8        307.0      130.0   3504.         12.0    70
2      15.0         8        350.0      165.0   3693.         11.5    70
3      18.0         8        318.0      150.0   3436.         11.0    70
4      16.0         8        304.0      150.0   3433.         12.0    70
..      ...       ...          ...        ...     ...          ...   ...
402    27.0         4        140.0      86.00   2790.         15.6    82
403    44.0         4        97.00      52.00   2130.         24.6    82
404    32.0         4        135.0      84.00   2295.         11.6    82
405    28.0         4        120.0      79.00   2625.         18.6    82
406    31.0         4        119.0      82.00   2720.         19.4    82

[407 rows x 7 columns]

In [ ]:
dataa=data.drop(index=0)
dataa

      MPG Cylinders Displacement Horsepower Weight Acceleration Model
1    18.0         8        307.0      130.0  3504.         12.0    70
2    15.0         8        350.0      165.0  3693.         11.5    70
3    18.0         8        318.0      150.0  3436.         11.0    70
4    16.0         8        304.0      150.0  3433.         12.0    70
5    17.0         8        302.0      140.0  3449.         10.5    70
..    ...       ...          ...        ...    ...          ...   ...
402  27.0         4        140.0      86.00  2790.         15.6    82
403  44.0         4        97.00      52.00  2130.         24.6    82
404  32.0         4        135.0      84.00  2295.         11.6    82
405  28.0         4        120.0      79.00  2625.         18.6    82
406  31.0         4        119.0      82.00  2720.         19.4    82

[406 rows x 7 columns]

In [ ]:
dataa.head(40)

     MPG Cylinders Displacement Horsepower Weight Acceleration Model
1   18.0         8        307.0      130.0  3504.         12.0    70
2   15.0         8        350.0      165.0  3693.         11.5    70
3   18.0         8        318.0      150.0  3436.         11.0    70
4   16.0         8        304.0      150.0  3433.         12.0    70
5   17.0         8        302.0      140.0  3449.         10.5    70
6   15.0         8        429.0      198.0  4341.         10.0    70
7   14.0         8        454.0      220.0  4354.          9.0    70
8   14.0         8        440.0      215.0  4312.          8.5    70
9   14.0         8        455.0      225.0  4425.         10.0    70
10  15.0         8        390.0      190.0  3850.          8.5    70
11     0         4        133.0      115.0  3090.         17.5    70
12     0         8        350.0      165.0  4142.         11.5    70
13     0         8        351.0      153.0  4034.         11.0    70
14     0         8        383.0      175.0  4166.         10.5    70
15     0         8        360.0      175.0  3850.         11.0    70
16  15.0         8        383.0      170.0  3563.         10.0    70
17  14.0         8        340.0      160.0  3609.          8.0    70
18     0         8        302.0      140.0  3353.          8.0    70
19  15.0         8        400.0      150.0  3761.          9.5    70
20  14.0         8        455.0      225.0  3086.         10.0    70
21  24.0         4        113.0      95.00  2372.         15.0    70
22  22.0         6        198.0      95.00  2833.         15.5    70
23  18.0         6        199.0      97.00  2774.         15.5    70
24  21.0         6        200.0      85.00  2587.         16.0    70
25  27.0         4        97.00      88.00  2130.         14.5    70
26  26.0         4        97.00      46.00  1835.         20.5    70
27  25.0         4        110.0      87.00  2672.         17.5    70
28  24.0         4        107.0      90.00  2430.         14.5    70
29  25.0         4        104.0      95.00  2375.         17.5    70
30  26.0         4        121.0      113.0  2234.         12.5    70
31  21.0         6        199.0      90.00  2648.         15.0    70
32  10.0         8        360.0      215.0  4615.         14.0    70
33  10.0         8        307.0      200.0  4376.         15.0    70
34  11.0         8        318.0      210.0  4382.         13.5    70
35   9.0         8        304.0      193.0  4732.         18.5    70
36  27.0         4        97.00      88.00  2130.         14.5    71
37  28.0         4        140.0      90.00  2264.         15.5    71
38  25.0         4        113.0      95.00  2228.         14.0    71
39  25.0         4        98.00          0  2046.         19.0    71
40     0         4        97.00      48.00  1978.         20.0    71

In [ ]:
dataa.columns

Index(['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model'],
      dtype='object')

In [ ]:
dataa.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
dtype: int64

In [ ]:
# split the dataset and create the model
dataa.columns
y=dataa['Model']
x=dataa.drop('Model',axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

In [ ]:
# create linear model
from sklearn import linear_model
lr=linear_model.LinearRegression()
model=lr.fit(x_train,y_train)
prediction=model.predict(x_test)

In [ ]:
# check the mse
from sklearn.metrics import mean_squared_error
print('MSE is:',mean_squared_error(y_test,prediction))

MSE is: 7.729717378652255

In [ ]:
# r^2 ed value
from sklearn.metrics import r2_score
print('R squared value is',r2_score(y_test,prediction))

R squared value is 0.4954312320008373