<a href="https://colab.research.google.com/github/Jaseem1911/DataPreprocessing/blob/main/Virat_Kohli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# reading csv file
vk=pd.read_csv('/content/drive/MyDrive/Virat_ODI - Virat_ODI.csv')
#displaying the contents of csv file
print(vk)

     runs  NotOut mins  bf fours sixes      sr Inns          Opp  \
0      12       0   33  22     1     0   54.54    1    Sri Lanka
1      37       0   82  67     6     0   55.22    2    Sri Lanka
2      25       0   40  38     4     0   65.78    1    Sri Lanka
3      54       0   87  66     7     0   81.81    1    Sri Lanka
4      31       0   45  46     3     1   67.39    2    Sri Lanka
..    ...     ...  ...  ..   ...   ...     ...  ...          ...
243    78       0    -  76     6     0  102.63    1    Australia
244    89       0    -  91     8     0    97.8    2    Australia
245    51       0   88  63     6     0   80.95    1  New Zealand
246    15       0   31  25     1     0      60    2  New Zealand
247     9       0   20  12     0     1      75    1  New Zealand

              Ground         Date
0           Dambulla  18 Aug 2008
1           Dambulla  20 Aug 2008
2      Colombo (RPS)  24 Aug 2008
3      Colombo (RPS)  27 Aug 2008
4      Colombo (RPS)  29 Aug 2008
..               ...          ...
243           Rajkot  17 Jan 2020
244        Bengaluru  19 Jan 2020
245         Hamilton   5 Feb 2020
246         Auckland   8 Feb 2020
247  Mount Maunganui  11 Feb 2020

[248 rows x 11 columns]

In [ ]:
vk.loc[99]

runs               22
NotOut              0
mins               18
bf                 18
fours               4
sixes               0
sr             122.22
Inns                2
Opp       West Indies
Ground       The Oval
Date      11 Jun 2013
Name: 99, dtype: object

In [ ]:
vrk=vk.drop(['Ground','Inns','Opp','Date','sr'],axis=1)
vrk

     runs  NotOut mins  bf fours sixes
0      12       0   33  22     1     0
1      37       0   82  67     6     0
2      25       0   40  38     4     0
3      54       0   87  66     7     0
4      31       0   45  46     3     1
..    ...     ...  ...  ..   ...   ...
243    78       0    -  76     6     0
244    89       0    -  91     8     0
245    51       0   88  63     6     0
246    15       0   31  25     1     0
247     9       0   20  12     0     1

[248 rows x 6 columns]

In [ ]:
virat=vrk['runs'] 
virat

0      12
1      37
2      25
3      54
4      31
       ..
243    78
244    89
245    51
246    15
247     9
Name: runs, Length: 248, dtype: int64

In [ ]:
virat.max()

183

In [ ]:
virat.tail(10)

238    114
239      4
240      0
241     85
242     16
243     78
244     89
245     51
246     15
247      9
Name: runs, dtype: int64

In [ ]:
virat.min()

0

In [ ]:
virat.describe()

count    248.000000
mean      47.366935
std       43.230837
min        0.000000
25%        9.000000
50%       34.000000
75%       79.250000
max      183.000000
Name: runs, dtype: float64

In [ ]:
virat.mean()

47.36693548387097

In [ ]:
virat.sum()

11747

In [ ]:
v=((virat >= 50) & (virat <= 100)).sum()
v

60

In [ ]:
vrt=((virat >= 150) & (virat <= 200)).sum()
vrt

4

In [ ]:
vi=(virat >=100).sum()
vi

42

In [ ]:
vrik=vrk['fours']
vrik

0      1
1      6
2      4
3      7
4      3
      ..
243    6
244    8
245    6
246    1
247    0
Name: fours, Length: 248, dtype: object

In [ ]:
vr=vrik.replace('-',0).head(10)
vr

0    1
1    6
2    4
3    7
4    3
5    0
6    1
7    0
8    9
9    3
Name: fours, dtype: object

In [ ]:
vrk

     runs  NotOut mins  bf fours sixes      sr
0      12       0   33  22     1     0   54.54
1      37       0   82  67     6     0   55.22
2      25       0   40  38     4     0   65.78
3      54       0   87  66     7     0   81.81
4      31       0   45  46     3     1   67.39
..    ...     ...  ...  ..   ...   ...     ...
243    78       0    -  76     6     0  102.63
244    89       0    -  91     8     0    97.8
245    51       0   88  63     6     0   80.95
246    15       0   31  25     1     0      60
247     9       0   20  12     0     1      75

[248 rows x 7 columns]

In [ ]:
vrk[vrk['runs']>=100].tail()

     runs  NotOut mins   bf fours sixes      sr
213   107       0    -  119    10     1   89.91
217   104       0  150  112     5     2   92.85
223   116       0    -  120    10     0   96.66
224   123       0    -   95    16     1  129.47
238   114       1  127   99    14     0  115.15

In [ ]:
v=vrk.replace('-',0).head()
v

   runs  NotOut mins  bf fours sixes
0    12       0   33  22     1     0
1    37       0   82  67     6     0
2    25       0   40  38     4     0
3    54       0   87  66     7     0
4    31       0   45  46     3     1

In [ ]:
v.reset_index()

   index  runs  NotOut mins  bf fours sixes
0      0    12       0   33  22     1     0
1      1    37       0   82  67     6     0
2      2    25       0   40  38     4     0
3      3    54       0   87  66     7     0
4      4    31       0   45  46     3     1

In [ ]:
type(v['runs'])

pandas.core.series.Series

In [ ]:
#creating a new
v['boundaries']=v['fours'] + v['sixes']
v

   runs  NotOut mins  bf fours sixes boundaries
A    12       0   33  22     1     0         10
B    37       0   82  67     6     0         60
C    25       0   40  38     4     0         40
D    54       0   87  66     7     0         70
E    31       0   45  46     3     1         31

In [ ]:
v.drop(0,axis=0)

   runs  NotOut mins  bf fours sixes boundaries
1    37       0   82  67     6     0         06
2    25       0   40  38     4     0         04
3    54       0   87  66     7     0         07
4    31       0   45  46     3     1         13

In [ ]:
v.loc[0]

runs          12
NotOut         0
mins          33
bf            22
fours          1
sixes          0
boundaries    01
Name: 0, dtype: object

In [ ]:
v.loc[3,'runs']

54

In [ ]:
v.index='A B C D E'.split()
v

   runs  NotOut mins  bf fours sixes boundaries
A    12       0   33  22     1     0         01
B    37       0   82  67     6     0         06
C    25       0   40  38     4     0         04
D    54       0   87  66     7     0         07
E    31       0   45  46     3     1         13

In [ ]:
v.loc[['A','B'],['runs','bf']]

   runs  bf
A    12  22
B    37  67

In [ ]:
newind='One Two Three Four Five'.split()
v['Match_No.']=newind
v

   runs  NotOut mins  bf fours sixes boundaries Match_No.
A    12       0   33  22     1     0         10       One
B    37       0   82  67     6     0         60       Two
C    25       0   40  38     4     0         40     Three
D    54       0   87  66     7     0         70      Four
E    31       0   45  46     3     1         31      Five

In [ ]:
v.set_index('Match_No.',inplace=True)
v

           runs  NotOut mins  bf fours sixes boundaries
Match_No.
One          12       0   33  22     1     0         10
Two          37       0   82  67     6     0         60
Three        25       0   40  38     4     0         40
Four         54       0   87  66     7     0         70
Five         31       0   45  46     3     1         31

In [ ]:
v.xs('One')

runs          12
NotOut         0
mins          33
bf            22
fours          1
sixes          0
boundaries    10
Name: One, dtype: object

In [ ]:
v.dropna()

           runs  NotOut mins  bf fours sixes boundaries
Match_No.
One          12       0   33  22     1     0         10
Two          37       0   82  67     6     0         60
Three        25       0   40  38     4     0         40
Four         54       0   87  66     7     0         70
Five         31       0   45  46     3     1         31

In [ ]:
v.dropna(thresh=3)

           runs  NotOut mins  bf fours sixes boundaries
Match_No.
One          12       0   33  22     1     0         10
Two          37       0   82  67     6     0         60
Three        25       0   40  38     4     0         40
Four         54       0   87  66     7     0         70
Five         31       0   45  46     3     1         31

In [ ]:
v.describe()

            runs  NotOut
count   5.000000     5.0
mean   31.800000     0.0
std    15.482248     0.0
min    12.000000     0.0
25%    25.000000     0.0
50%    31.000000     0.0
75%    37.000000     0.0
max    54.000000     0.0

In [ ]:
v.describe().transpose()

        count  mean        std   min   25%   50%   75%   max
runs      5.0  31.8  15.482248  12.0  25.0  31.0  37.0  54.0
NotOut    5.0   0.0   0.000000   0.0   0.0   0.0   0.0   0.0

In [ ]:
del v['NotOut']
v

           runs mins  bf fours sixes boundaries
Match_No.
One          12   33  22     1     0         10
Two          37   82  67     6     0         60
Three        25   40  38     4     0         40
Four         54   87  66     7     0         70
Five         31   45  46     3     1         31

In [ ]:
v.columns

Index(['runs', 'mins', 'bf', 'fours', 'sixes', 'boundaries'], dtype='object')

In [ ]:
v.index

Index(['One', 'Two', 'Three', 'Four', 'Five'], dtype='object', name='Match_No.')

In [ ]:
v.sort_values(by='runs')

           runs mins  bf fours sixes boundaries
Match_No.
One          12   33  22     1     0         10
Three        25   40  38     4     0         40
Five         31   45  46     3     1         31
Two          37   82  67     6     0         60
Four         54   87  66     7     0         70

In [ ]:
v.isnull()

            runs   mins     bf  fours  sixes  boundaries
Match_No.
One        False  False  False  False  False       False
Two        False  False  False  False  False       False
Three      False  False  False  False  False       False
Four       False  False  False  False  False       False
Five       False  False  False  False  False       False